
h1 {
  color: blue;
  font-family:sans-serif;
  text-align:center;
  background-color:darkgray;
}
h3 {
  color: brown;
  font-family: monospace;
  text-align: center;
}
body {
  background-color: burlywood;
  }